/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}

.read_all_container {
    padding: 20px;
}

/* Add New User Title and Home Link */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 110px;
}

.header {
    margin-left: 20px;
}


/* Create User Button */
.btn {
    margin-top: 10px;
    border: 2px solid black;
    box-shadow: 3px 3px black;
}

.user_card {
    border: 2px solid black;
}