/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}

.table,
.table_head,
.table_row
.table_header {
    border: 2px solid black;
}

.read_all_container {
    padding: 20px;
}

/* Add New User Title and Home Link */
.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 110px;
}

.header {
    margin-left: 20px;
}

.card_text {
    margin-left: 10px;
}

/* Create User Button */
.btn {
    margin-top: 10px;
    border: 2px solid black;
    box-shadow: 3px 3px black;
}

.user_card {
    margin: 20px 0px;
    padding: 5px;
    border: 2px solid black;
}