/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}

.table,
.table_head,
.table_row
.table_header {
    border: 2px solid black;
}

.read_all_container {
    padding: 20px;
}

/* Add New User Title and Home Link */
.edit_user_banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    margin-left: 20px;
}

.card_text {
    margin-left: 10px;
}

/* Create User Button */
.btn {
    margin-top: 10px;
    border: 2px solid black;
    box-shadow: 3px 3px black;
}

.user_card {
    margin: 10px 0px;
    padding: 5px;
    border: 2px solid black;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    margin-left: 110px;
}

.show_user_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.edit_bottom_tags {
    margin-top: 10px;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
}

.show_user_tag {
    margin-left: 30px;
}
